.table {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.table > div {
    margin: 0;
    background: transparent;
    padding: 0;
}

.table > div:nth-child(3n+2) {
    background: transparent;
}

.table > div:nth-child(3n+3) {
    background: transparent;
}